@model IEnumerable<AttemptAtCoursework.Models.Vacancy>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPositionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRequiredApplicants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfApplicantsPlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfEmployment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPositionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRequiredApplicants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfApplicantsPlaced)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiredExperience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfEmployment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>