@model AttemptAtCoursework.Models.Vacancy

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактировать</h1>

<h4>Информация о вакансии</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WorkPositionId" class="control-label"></label>
                <select asp-for="WorkPositionId" class="form-control">
                    @foreach (var workPosition in ViewBag.WorkPositions)
                    {
                        @*                         int active = (int)StatusForWorkPosition.Active; *@
                        @*                         <div>@workPosition.Name</div> *@
                        if (@workPosition.Status == StatusForWorkPosition.Active)
                        {
                            <option value="@workPosition.Id">@workPosition.Name</option>
                        }
                    }

                </select>
                <span asp-validation-for="WorkPositionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfRequiredApplicants" class="control-label"></label>
                <input asp-for="NumberOfRequiredApplicants" class="form-control" />
                <span asp-validation-for="NumberOfRequiredApplicants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfApplicantsPlaced" class="control-label"></label>
                <input asp-for="NumberOfApplicantsPlaced" class="form-control" />
                <span asp-validation-for="NumberOfApplicantsPlaced" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredExperience" class="control-label"></label>
                <select asp-for="RequiredExperience" class="form-control">
                    <option value="NoExperience">Нет опыта</option>
                    <option value="FromOneYearToThreeYears">От одного до трёх лет</option>
                    <option value="FromThreeToSixYears">От трёх до шести лет</option>
                    <option value="MoreThanSixYears">Больше шести лет</option>
                </select>
                <span asp-validation-for="RequiredExperience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfEmployment" class="control-label"></label>
                <select asp-for="TypeOfEmployment" class="form-control">
                    <option value="FullEmployment">Полная занятость</option>
                    <option value="PartTime">Частичная занятость</option>
                    <option value="Internship">Стажировка</option>
                </select>
                <span asp-validation-for="TypeOfEmployment" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <select asp-for="CompanyId" class="form-control">
                    @foreach (var company in ViewBag.Companies)
                    {
                        @*                         int active = (int)StatusForWorkPosition.Active; *@
                        @*                         <div>@workPosition.Name</div> *@

                        <option value="@company.Id">@company.Name</option>
                    }
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="ConsideredByTheManager">Рассматриваемое менеджером</option>
                    <option value="Active">Активное</option>
                    <option value="Inactive">Неактивное</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к справочнику вакансий</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
