@model IEnumerable<AttemptAtCoursework.Models.Vacancy>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Vacancies";
}

<h1>Список вакансий</h1>
@{
    var index = 0;
}

@{
    if (ViewBag.WorkPositions.Count == 1)
    {
        @foreach (var item in Model)
        {

            <p><b>Должность - @ViewBag.WorkPositions[index].Name</b></p>
            <p><b>Компания -  <a asp-controller="Companies" asp-action="CompanyInfo" asp-route-id="@ViewBag.Companies[index].Id">@ViewBag.Companies[index].Name</a></b></p>
            <p>Опыт работы -  @item.GetDisplayName(@item.RequiredExperience)</p>
            <p>Тип занятости - @item.GetDisplayName(@item.TypeOfEmployment)</p>
            <p>Описание:</p>
            <p>@item.Description</p>
            <hr />
            index += 1;
            @if (User.IsInRole("Applicant"))
            {
                <a asp-controller="Resumes" asp-action="Offer" asp-route-vacancyId="@item.Id">Предложить резюме</a>
                <hr />
            }
        }
        <a asp-controller="Vacancies" asp-action="Vacancies">Все вакансии</a>
    }
    else
    {
        @foreach (var item in Model)
        {
            <a asp-controller="Vacancies" asp-action="Vacancies" asp-route-vacancyId="@item.Id">@ViewBag.WorkPositions[index].Name</a>

            <p><b>Должность - @ViewBag.WorkPositions[index].Name</b></p>
            <p><b>Компания - <a asp-controller="Companies" asp-action="CompanyInfo" asp-route-id="@ViewBag.Companies[index].Id">@ViewBag.Companies[index].Name</a></b></p>
            <p>Опыт работы - @item.GetDisplayName(@item.RequiredExperience)</p>
            <p>Тип занятости - @item.GetDisplayName(@item.TypeOfEmployment)</p>
            index += 1;
            @if (User.IsInRole("Applicant"))
            {
                <a asp-controller="Resumes" asp-action="Offer" asp-route-vacancyId="@item.Id">Предложить резюме</a>
            }
            <hr />
        }
    }
}
@* @foreach (var workPosition in ViewBag.WorkPositions)
{
    <div>@workPosition.Name</div>
} *@
