@model IEnumerable<AttemptAtCoursework.Models.Vacancy>

@{
    ViewData["Title"] = "VacanciesOfferedByEmployer";
    var index = 0;
}

<h1>Ваши предложенные вакансии</h1>

@if (ViewBag.Companies.Count == 0) {
    <p>Для предложения вакансий нужно зарегистрировать хотя бы одну компанию. Вы не зарегистрировали на сайте ни одну компанию. <a asp-controller="Companies" asp-action="AddCompany">Зарегистрировать компанию</a> </p>
    @if (!Model.Any())
    {
        <p>Вы не предложили ни одну вакансию на сайте. <a asp-action="AddVacancy">Предложить вакансию</a> </p>
    }
}

else
{
    @foreach (var vacancy in Model)
    {
        <p><b>Должность - @ViewBag.WorkPositions[index].Name</b></p>
        <p><b>Компания -  <a asp-controller="Companies" asp-action="EmployerCreatedCompanies" asp-route-id="@ViewBag.Companies[index].Id">@ViewBag.Companies[index].Name</a></b></p>
        <p>Опыт работы -  @vacancy.GetDisplayName(@vacancy.RequiredExperience)</p>
        <p>Тип занятости - @vacancy.GetDisplayName(@vacancy.TypeOfEmployment)</p>
        <p>Количество требуемых сотрудников - @vacancy.NumberOfRequiredApplicants</p>
        <p>Количество нанятых сотрудников - @vacancy.NumberOfApplicantsPlaced</p>
        <p>Описание:</p>
        <p>@vacancy.Description</p>
        index += 1;
        @if (vacancy.Status == Status.ConsideredByTheManager)
        {
            <p><b>Данная вакансия находится на рассмотрении менеджера</b></p>
        }
        @if (vacancy.Status == Status.Active)
        {
            <p><b>Данная вакансия одобрена менеджером</b></p>
        }
        @if (vacancy.Status == Status.Inactive)
        {
            <p><b>Данная вакансия не одобрена менеджером</b></p>
        }
        <hr />
    }
}