@model IEnumerable<AttemptAtCoursework.Models.Resume>

@{
    var index = 0;
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkPositionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertisedEmploymentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacancyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicantMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecommendedToEmployerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkPositionId)
                    <p>(@ViewBag.WorkPositions[index].Name)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Experience)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdvertisedEmploymentType)
                </td>
                <td>
@*                     @Html.DisplayFor(modelItem => item.VacancyId) *@
                    <a asp-controller="Vacancies" asp-action="Details" asp-route-id="@ViewBag.Vacancies[index].Id">@item.VacancyId</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicantMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecommendedToEmployerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    @if (item.Status == StatusforResume.Active)
                    {
                        <a asp-action="RecommendResumeToAnEmployer" asp-route-id="@item.Id">Предложить резюме работодателю</a>
                    }
                </td>
            </tr>
            index += 1;
        }
    </tbody>
</table>