@model IEnumerable<AttemptAtCoursework.Models.Resume>

@{
    ViewData["Title"] = "ResumesOfferedByApplicant";
}

<h1>Ваши предложенные резюме</h1>

@{
    var index = 0;
    @if (!Model.Any())
    {
        <p>Вы не предложили ни одно резюме. Выберите <a asp-controller="Vacancies" asp-action="Vacancies">вакансию</a> и отправьте к ней резюме.</p>
    }
    else
    {
        @foreach (var resume in Model)
        {
            <p>Должность: @ViewBag.WorkPositions[index].Name</p>

            <p>Основное содержание резюме: @resume.Content</p>

            <p>Опыт: @resume.GetDisplayName(@resume.Experience)</p>

            <p>Тип занятости: @resume.GetDisplayName(@resume.AdvertisedEmploymentType)</p>
            @if (ViewBag.Companies[index].Status == StatusforCompany.Active) {
            <p><a asp-controller="Vacancies" asp-action="Vacancies" asp-route-vacancyId="@resume.VacancyId">Вакансия</a>, к которой написано резюме</p>
            }
            @if (ViewBag.Companies[index].Status != StatusforCompany.Active)
            {
                <p>Вакансия, к которой написано резюме. Ссылки на вакансию не предаставляется, так как компания больше неактивна на сайте.</p>
            }
            index += 1;
            @if (resume.Status == StatusforResume.ConsideredByTheManager)
            {
                <p><b>Данное резюме находится на рассмотрении менеджера</b></p>
            }
            @if (resume.Status == StatusforResume.Active)
            {
                <p><b>Данное резюме одобрено менеджером</b></p>
                <a asp-action="RecallResume" asp-route-id="@resume.Id">Отозвать резюме</a>
            }
            @if (resume.Status == StatusforResume.Inactive)
            {
                <p><b>Данное резюме не одобрено менеджером/отклонено Вами</b></p>
            }
            @if (resume.Status == StatusforResume.Accepted)
            {
                <p><b>С данным резюме Вас приняли на работу</b></p>
            }
            @if (resume.Status == StatusforResume.Closed)
            {
                <p><b>С данным резюме Вам отказали в работе</b></p>
            }
            <hr />
        }
    }
}
