@model IEnumerable<AttemptAtCoursework.Models.Company>

@{
    ViewData["Title"] = "EmployerCreatedCompanies";
}

<h1>Ваши зарегистрированные компании</h1>

@{

    @if (!Model.Any())
    {
        <p>Вы не зарегистрировали на сайте ни одну компанию. <a asp-action="AddCompany">Зарегистрировать компанию</a> </p>
    }
    else
    {
        @foreach (var company in Model)
        {
            <p>Название компании:  <a asp-controller="Companies" asp-action="CompanyInfo" asp-route-id="@company.Id">@company.Name</a></p>

            <p>Компания зарегистрирована в городе: @company.GetDisplayName(@company.City)</p>

            <p>Сфера деятельности компании: @company.GetDisplayName(@company.TypeOfProduction)</p>

            <p>Описание компании: @company.Description</p>

            <p>Почта зарегистрировавшего компанию: @company.DirectorsMail</p>

            <p>Почта компании для соискателей: @company.CompaniesMail</p>
            @if (company.Status == StatusforCompany.ConsideredByTheManager)
            {
                <p><b>Данная компания находится на рассмотрении менеджера</b></p>
            }
            @if (company.Status == StatusforCompany.Active)
            {
                <p><b>Данная компания одобрена менеджером</b></p>
                <a asp-controller="Vacancies" asp-action="AddVacancy" asp-route-companyId="@company.Id">Добавить вакансию</a>
                <a asp-action="RecallCompany" asp-route-id="@company.Id">Отозвать компанию</a>
            }
            @if (company.Status == StatusforCompany.Inactive)
            {
                <p><b>Данная компания не одобрена менеджером/отклонена Вами</b></p>
            }
            <hr />
        }
        <p>
            <a asp-action="AddCompany">Зарегистрировать новую компанию</a>
        </p>
        <p>     
            <a asp-controller="Vacancies" asp-action="VacanciesOfferedByEmployer">Предложенные Вами вакансии</a>    
        </p>
    }
}
